<html>
  <head>
    <title>Stat Manager: Game on!</title>
    <script src="http://fb.me/react-0.4.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.4.1.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </head>
  <body>	
<form action="/createPlayer" method="POST">
<div class="row">
<div class="col-md-2">
	<h3>Player List</h3>
	<ul class="nav nav-pills nav-stacked" name="charselect"></ul>
</div>
<div class="col-md-10" name="chardata" style="display:none">
	<h3>Char Data</h3>
	<div class="row">
		<div class="col-md-7">
			<h2 id="char_name">Character Name</h2>
		</div>
		<div class="col-md-3">
			Where the picture will go in a polished version
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<h3>Speed</h3>
			<input style="display:inline-block" type="submit" value="-" formaction="<%=game.id%>/minus/speed"/>
			<input style="display:inline-block" type="submit" value="+" formaction="<%=game.id%>/plus/speed"/>
			<div id="char_speed"></div>
		</div>
		<div class="col-md-5">
			<h3>Might</h3>
			<input style="display:inline-block" type="submit" value="-" formaction="<%=game.id%>/minus/might"/>
			<input style="display:inline-block" type="submit" value="+" formaction="<%=game.id%>/plus/might"/>
			<div id="char_might"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<h3>Sanity</h3>
			<input style="display:inline-block" type="submit" value="-" formaction="<%=game.id%>/minus/sanity"/>
			<input style="display:inline-block" type="submit" value="+" formaction="<%=game.id%>/plus/sanity"/>
			<div id="char_sanity"></div>
		</div>
		<div class="col-md-5">
			<h3>Knowledge</h3>
			<input style="display:inline-block" type="submit" value="-" formaction="<%=game.id%>/minus/knowledge"/>
			<input style="display:inline-block" type="submit" value="+" formaction="<%=game.id%>/plus/knowledge"/>
			<div id="char_knowledge"></div>
		</div>						
	</div>
	<input hidden name="index" type="text" value="-1">
	</form>
	<script>
	var gameName = "<%-game.name.toString()%>";
	var gameID = <%-game.id.toString()%>
	var players = <%-JSON.stringify(game.players)%>;
	var charSelect = document.getElementsByName("charselect")[0];
	var chardata = document.getElementsByName("chardata")[0];
	var charName = document.getElementById("char_name");
	var charSpeed = document.getElementById("char_speed");
	var charMight = document.getElementById("char_might");
	var charSanity = document.getElementById("char_sanity");
	var charKnowledge = document.getElementById("char_knowledge");
	var charIndex = document.getElementsByName("index")[0];
	
	var createStatView = function(arr, curr, original){
		var strResult = "";
		for(var x = 0; x<arr.length; x++){
			if(curr == x && original == x)
				strResult += "<b style=\"color:red\"><i style=\"color:green\">"+arr[x].toString()+"</i></b>, ";
			else if(curr == x)
				strResult += "<b style=\"color:red\">"+arr[x].toString()+"</b>, ";
			else if(original == x)
				strResult += "<i style=\"color:green\">"+arr[x].toString()+"</i>, ";
			else
				strResult += arr[x].toString()+", ";
		}			
		
		return strResult;
	};
	
	var loadCharProfile = function(index){
		//var index = parseInt(this.getAttribute("data-index"));
		charName.innerHTML = players[index].name+": "+players[index].character.name;
		charSpeed.innerHTML = createStatView(players[index].character.speed, players[index].currSpeed, players[index].character.defaultSpeed);
		charMight.innerHTML = createStatView(players[index].character.might, players[index].currMight, players[index].character.defaultMight);
		charSanity.innerHTML = createStatView(players[index].character.sanity, players[index].currSanity, players[index].character.defaultSanity);
		charKnowledge.innerHTML = createStatView(players[index].character.knowledge, players[index].currKnowledge, players[index].character.defaultKnowledge);
		charIndex.value = index;
		chardata.removeAttribute("style");
	};
		
	
	for(var x =0; x<players.length; x++){
		var li = document.createElement("li");
		var a = document.createElement("a");
		a.setAttribute("name", players[x].name);
		a.setAttribute("data-index", x.toString());
		a.onclick = loadCharProfile.bind(null,x);
		a.innerHTML= players[x].name;	
		li.appendChild(a);
		charSelect.appendChild(li);
	}
	var li = document.createElement("li");
	var a = document.createElement("a");
	a.innerHTML = "Add a new Player!";	
	a.setAttribute("href","/createplayer/"+gameID);
	li.appendChild(a);
	charSelect.appendChild(li);
	console.log("this ran!");
	</script>
  </body>
</html>
